/* Navbar Active Link Styles */
.navbar .navbar-nav .nav-item .nav-link.active .rolling-text {
  color: #fd5b38;
  /* Warna utama dari template */
}

.navbar .navbar-nav .nav-item .nav-link .rolling-text {
  position: relative;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-item .nav-link.active .rolling-text::after {
  content: '';
  position: absolute;
  bottom: -8px;
  /* Jarak titik dari teks */
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #fd5b38;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 1;
}

/* Fix Navigation Drift */
#home,
#about,
#skills,
#services,
#portfolio,
#testimonials,
#clients,
#blog {
  scroll-margin-top: 100px;
}